.one{
  background-color: #00a8cc;
}
body{
  margin-top: 0px;

}
h1{
  margin-top: 0;
}
.two{
  background-color: grey;
  width: 200px;
  height: 200px;
}
.three{
  background-color: brown;
  width: 200px;
  height: 200px;
}
